<div class="container">
  <h1 class="page-header">
    <a href="/">Listing</a> #{{ listing.id }} / {{ listing.date | date:'EEEE, MMMM d' }} {{ listing.date | date:'shortTime' }}
  </h1>

  <div class="row">
    <div ng-show='listing.latitude' class="col-sm-4">
      <google-map center='map.center' zoom='map.mapZoom' draggable='true' refresh='listing.latitude'>
        <marker coords='map.center'></marker>
      </google-map>
    </div>

    <div class="col-sm-8">
      <hgroup class="clearfix">
        <div class="pull-left hidden-xs" ng-show="listing.image">
          <div ng-show="listing.picture" class="listing-image" style="background-image:url({{ listing.picture }})"></div>
        </div>
        <div>
          <h5>Listed by {{ listing.contactName }}</h5>
          <h3>{{listing.title}}</h3>
          <p class="text-muted">{{ listing.description }}</p>
        </div>
      </hgroup>
      <p>{{ listing.programmeNotes }}</p>
      <p>Tickets: <strong>{{ listing.ticketPrice }}</strong>, {{ listing.ticketSpecialPrice }}</p>
    </div>
  </div>

</div>
