<div class="container">
  <h1 class="page-header">Listings for {{ monthText }}</h1>

  <div class="row">

    <div class="col-sm-4">

      <form role="form" class="row">
        <div class="form-group col-sm-12">
          <label for="search">Search</label>
           <input
            type="text"
            class="form-control"
            name="textSearch"
            ng-model="textSearch">
        </div>
        <div class="form-group col-xs-6">
          <label for="startDate">After</label>
           <input
            type="text"
            class="form-control"
            show-weeks="false"
            datepicker-popup="MMM dd"
            ng-model="startDate"
            is-open="opened.startDate"
            close-text="close">
        </div>
        <div class="form-group col-xs-6">
          <label for="endDate">Before</label>
           <input
            type="text"
            class="form-control"
            show-weeks="false"
            datepicker-popup="MMM dd"
            ng-model="endDate"
            is-open="opened.endDate"
            close-text="close">
        </div>
      </form>

    </div>

    <div class="col-sm-8">
      <div ng-show="!listingResults.length" class="alert alert-warning">
        No listings found.
      </div>

      <div ng-show="textSearch && listingResults.length" class="alert alert-warning">
        {{listingResults.length}} listings found.
      </div>

      <ul class="list-group">
        <li ng-repeat="listing in listingResults = (listings | filter:textSearch | filter:betweenDates | orderBy:date )" class="list-group-item">
          <hgroup class="clearfix">
            <div class="pull-left hidden-xs" ng-show="listing.image">
              <div ng-show="listing.picture" class="listing-image" style="background-image:url({{ listing.picture }})"></div>
            </div>
            <div>
              <h5>{{ listing.date | date:'EEEE, MMMM d' }} {{ listing.date | date:'shortTime' }}</h5>
              <h3><a href="#listings/{{ listing.id }}">
                {{ listing.title }}  <small ng-show="listing.free">FREE</small>
              </a></h3>
              <p class="text-muted">{{ listing.description }}</p>
            </div>
          </hgroup>
          <p>{{ listing.programmeNotes }}</p>
          <p>Tickets: <strong>{{ listing.ticketPrice }}</strong>, {{ listing.ticketSpecialPrice }}</p>
        </li>
      </ul>
    </div>
  </div>

</div>
